$units: (
		"0": 0,
		"1": 4,
		"2": 8,
		"3": 12,
		"4": 16,
		"5": 20,
		"6": 24,
		"7": 28,
		"8": 32,
		"9": 36,
		"10": 40,
		"11": 44,
		"12": 48,
		"14": 56,
		"16": 64,
		"20": 80,
		"24": 96,
		"28": 112,
		"32": 128,
		"36": 144,
		"40": 160,
		"44": 176,
		"48": 192,
		"52": 208,
		"56": 224,
		"60": 240,
		"64": 256,
		"72": 288,
		"80": 320,
		"96": 384,
	);


/*
 * Creates Margins Helpers
*/ 

@each $name, $value in $units {
    .m-#{$name} {
		margin: #{$value + "px"};
	}

	.m-t-#{$name} {
		margin-top: #{$value + "px"};
	}

    .m-b-#{$name} {
		margin-bottom: #{$value + "px"};
	}

    .m-r-#{$name} {
		margin-right: #{$value + "px"};
	}

    .m-l-#{$name} {
		margin-left: #{$value + "px"};
	}

    .m-x-#{$name} {
		margin: 0 #{$value + "px"};
	}

    .m-y-#{$name} {
		margin: #{$value + "px"} 0;
	}

    .p-#{$name} {
		padding: #{$value + "px"};
	}

    .p-t-#{$name} {
		padding-top: #{$value + "px"};
	}

    .p-b-#{$name} {
		padding-bottom: #{$value + "px"};
	}

    .p-r-#{$name} {
		padding-right: #{$value + "px"};
	}

    .p-l-#{$name} {
		padding-left: #{$value + "px"};
	}

    .p-x-#{$name} {
		padding: 0 #{$value + "px"};
	}

    .p-y-#{$name} {
		padding: #{$value + "px"} 0;
	}
}


// flex helpers
$flex-props: flex-start, flex-end, center, space-between, space-around, space-evenly;

@each $prop in $flex-props {
	.align-#{$prop} {
		align-items: $prop
	}
	.justify-#{$prop} {
		justify-content: $prop
	}
}