@import '../colors';

.content_group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 16px;
    &__label {
        font-weight: 300;
        color: map-get($map: $black, $key: "30" );
    }
    &__content {
        &__count {
            font-size: 1.2rem;
            color: map-get($map: $black, $key: "100");
        }
        &__percentage {
            font-size: 0.9rem;
            color: $success;
        }
    }
}