@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

html,body {
    margin: 0; padding: 0;
    font-family: IBM Plex Sans, sans-serif;
    background: #fafafa;
}

.card {
    width: 350px;
    font-size: 14px;
    border: 1px solid rgba(240, 238, 238, .5);
    background: white;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 12px 17px 0px #7371a130;
}

.card__thumbnail {
    width: 100%;
}

.card__title, .card__description {
    margin: 4px;
    padding: 0;
}

.card__details {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 16px;
}